<div>
    <h2>Hello, {{ fullName }}</h2>

    <p>A Forgot Password request was initiated on the Dayn app. </p>

    <p>Use the code below to verify your identity.</p>
    <p>Note: This code expires in {{ expiresInMinutes }} minutes. </p>
    <ul>
        <li>OTP: {{ otpCode }}</li>
    </ul>

    <p>From: Dayn</p>
</div>